<h2>Details of the Task of the project id : @project.first.id </h2>
<table>
    <tr>
      <td>Project id : <%= @project.first.id %></td>
      <td>Task : <%= @task.text %></td>
      <td>Assigned Developer : <%= @task.user %></td>
      <td>Project Manager : <%= @task.project.manager %> </td>
      <td>Task Status :  <%= @task.status %> </td>
      <td>Task Sprint :  <%= @task.sprint %> </td>
    </tr>
</table>