<<<<<<< HEAD
<h2>All Tasks of the project id : @project.first.id </h2>
=======
<h2>Your Project List</h2>


>>>>>>> 10872dffb2cb00aad2d9386ec99161c6bfb8b5ca
<table>
    <tr>
      <td>Project id : <%= @project.first.id %></td>
      <td>Task : <%= @task.text %></td>
      <td>Assigned Developer : <%= @task.user %></td>
      <td>Project Manager : <%= @task.project.manager %> </td>
      <td>Task Status :  <%= @task.status %> </td>
      <td>Task Sprint :  <%= @task.sprint %> </td>
    </tr>
</table>