<div class="center jumbotron">	
  <h2>Project Title: <%= @project.title %></h2>
  <h4>Project Description:<%= @project.text %></h4>
</div>

<% if @project.tasks.count != 0 %>
<h3>List of Tasks</h3>
<table class="table table-bordered">
	<th> Task </th>
	<th> Assigned to </th>
	<% @project.tasks.each do |task| %>
	    <tr>
	    <td><%= task.user.name %></td>
	    <td><%= task.text %></td>
	    </tr>
	<% end %>
</table>
<% end %>

<div class="container">
	<h4>Add a Task:</h4>
	<!-- <form role="form"> -->
	<%= form_for @task, url: project_tasks_path(project_id: @project.id) do |f| %>
	  <div class="form-group">
	    <%= f.label :text %>
	    <%= f.text_area :text, class: "form-control"%>
	  </div>
	  <div class="form-group">
	    <%= f.label :Points %>
	    <%= f.text_field :points, class: "form-control"%>
	  </div>
	  <div class="form-group">
	  <%= f.label :Developer %>
	  <%= collection_select(:user, :name, @user, :id, :name, {:prompt => true}, {class: "form-control"}) %>
	  </div>
	  <div class="form-group">
	  <%= f.label :Sprint %>
	  <%= select_tag "sprints", options_for_select(@options), class: "form-control" %>
	  </div>
	  <%= f.submit class: "btn"%>
	<% end %>
	<!-- </form> -->
</div>

