<div class="jumbotron">
   <div class="container">
      		<h2><%= @project.title %></h2>
			<h4><%= @project.text %></h4>
    </div>
  </div>
	<div class="row">
	       <div class="col-lg-2">
	            <ul class="nav nav-pills nav-stacked">
		            <li><%= link_to 'Home', project_path %></li>
		            <li><%= link_to 'Profile', user_path %></li>
		            <li><%= link_to 'Add new task', new_project_task_path(:project_id => @project.id) %></li>
		            <li><%= link_to 'Sprint', project_sprint_index_path(:project_id => @project.id) %></li>
		            <li><%= link_to 'Last Sprint', project_sprint_path(:project_id => @project.id), method: :get %></li>
	            </ul>
       		</div>
       <div class="col-md-8">
			  <% if @project.tasks.count != 0 %>
				<h3>List of Tasks</h3>
				<table class="table table-bordered">
					<th> Task </th>
					<th> Assigned to </th>
					<th> Points </th>
					<th> Sprints </th>
					<% @project.tasks.each do |task| %>
					    <tr>
					    <td><%= task.text %></td>
					    <td><%= task.user.name %></td>
					    <% if task.points!= nil %>
					    	<td><%= task.points %></td>
					    <%else%>
					    	<td><%= 0 %></td>
					    <%end%>
					    <td><%= task.sprints %>
					    </tr>
					<% end %>
				</table>
				<% end %>
       </div>
    </div>
</div>
