<!DOCTYPE html>
<html>
<head>
  <title>Sprint</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if user_signed_in? %>
Signed in as <%= current_user.name %> (<%= current_user.id %>). Not you?
<%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
<% end %>

</body>
</html>
